.main_game {
    text-align: center;
    margin: auto;
}

.game_img {
    border: 2px solid yellow;
    padding: 1px;
    width: 100%;
    aspect-ratio: auto;
}

.game_column {
    float: left;
    min-width: 100px;
}

.gunner_column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

/* Clear floats after the columns */
.game_row:after {
    content: "";
    display: table;
    clear: both;
}

.background {
    position: relative;
    width: 100%;
    display: inline;
}

#treasure_map {
    table-layout: fixed;
    width: 100%
}

#quick_draw {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    height: 100%;
    background-image: url(/static/gunner.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    padding: 10px;
}