.center-text {
    background: linear-gradient(to right, #ffcc00, #ff6666);
    display: block;
    font-size: 72px;
    text-align: center;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
}