.img {border:2px solid transparent; padding: 1px; display: none}
.td_img {border: 1px solid grey}
#treasure_map {table-layout: fixed; width: 100% }
#treasure_map tr, #treasure_map td { overflow: hidden; }