{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}CHAT {{ target_type }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <meta id="game_data"
          data-n_choices="{{ n_choices }}"
          data-n_rounds="{{ n_rounds }}"
          data-room=""
    >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="chat.css") }}"/>
    <script type="text/javascript">
        let scores = {correct: 0, incorrect: 0};
        let playing = true;
        let current_round = 0;
        let timer;
        let start_time;
        $(function () {
            const n_rounds = get_game_data("n_rounds", parseInt);
            const n_choices = get_game_data("n_choices", parseInt);
            const choice_location = [{% for i in [3,5,1,4,0,2,7,6,8] %}"#img_{{ i }}_", {% endfor %}];

            $({{ all_img_src|safe }}).preload();
            const all_img = JSON.parse('{{ img|safe }}');
            const all_ans = JSON.parse('{{ ans|safe }}');

            pre_load();

            function pre_load() {
                for (let round = 0; round < n_rounds; round++) {
                    $(".round_" + round).css("display", "none");
                    for (let i = 0; i < n_choices; i++) {
                        const this_round_img = all_img[round][i];
                        const this_round_ans = all_ans[round][i];
                        $(choice_location[i] + round)
                            .css("border-color", "transparent")
                            .attr("src", "/images/" + this_round_img["id"])
                            .data("correct", this_round_ans)
                            .data("selected", false);
                        $("#overlay_" + $(choice_location[i] + round).data("img_id"))
                            .removeClass("correct")
                            .removeClass("incorrect");
                    }
                }
            }

            function new_round() {
                $(".round_" + (current_round - 1)).css("display", "none");
                $(".round_" + current_round).css("display", "block");
                $(".overlay").removeClass("correct").removeClass("incorrect");
            }

            $('#start').on('click', function () {
                alert("เริ่ม!")
                $("#start").prop("disabled", true).removeClass("btn-primary").add("btn-secondary");
                $(".game_td_img").css("border", "transparent");
                start_time = Date.now();
                new_round(0);

                timer = setInterval(function () {
                    $("#time_lapse").html(time_elapse_text())
                }, 5);
            });
            $('.quick_draw_img').on('click', function () {
                if (!playing) {
                    return;
                }
                if (!$(this).data("selected") && ($(this).data("correct") !== -1)) {
                    $(this).data("selected", true);
                    const correctness = $(this).data("correct");
                    if (correctness === 1) {
                        $(this).css("border-color", "green");
                        $("#overlay_" + $(this).data("img_id")).addClass("correct");
                        scores.correct += 1
                        current_round++;
                        if (current_round < n_rounds) {
                            new_round(current_round);
                        }
                    } else {
                        $(this).css("border-color", "red");
                        $("#overlay_" + $(this).data("img_id")).addClass("incorrect");
                        scores.incorrect += 1
                    }

                }
                $("#correct").html(scores.correct);
                $("#incorrect").html(scores.incorrect);
                if (current_round >= n_rounds) {
                    playing = false;
                    clearInterval(timer);
                    $("#time_lapse").html(time_elapse_text());
                    let modal = new bootstrap.Modal('#result_modal');
                    modal.show();
                    $("#modal_body").html(`ในที่สุดก็เลือกครบ!<br>
                        ตอบถูก ${scores.correct} ภาพ<br>
                        ตอบผิด ${scores.incorrect} ภาพ<br>
                        ใช้เวลาไป ${time_elapse_text()}`);
                }
            });

            $(document).on('keydown', function (event) {
                const n_choices = get_game_data("n_choices", parseInt);
                // Check the keyCode or key for the specific keys you want to target (W, A, S, D)
                if (event.keyCode === 81 || event.key === 'q') {
                    $("#img_0_" + current_round).click();
                } else if (event.keyCode === 87 || event.key === 'w') {
                    $("#img_1_" + current_round).click();
                } else if (event.keyCode === 69 || event.key === 'e') {
                    $("#img_2_" + current_round).click();
                } else if (event.keyCode === 65 || event.key === 'a') {
                    $("#img_3_" + current_round).click();
                } else if (event.keyCode === 83 || event.key === 's') {
                    $("#img_4_" + current_round).click();
                } else if (event.keyCode === 68 || event.key === 'd') {
                    $("#img_5_" + current_round).click();
                } else if (event.keyCode === 90 || event.key === 'z') {
                    $("#img_6_" + current_round).click();
                } else if (event.keyCode === 88 || event.key === 'x') {
                    $("#img_7_" + current_round).click();
                } else if (event.keyCode === 67 || event.key === 'c') {
                    $("#img_8_" + current_round).click();
                }
            });

            let socket = io();

            function handle_chat_response(data) {
                console.log(data);
                const username = data[0];
                const message = data[1];
                let appendage;
                if (username === "{{ session['user'].name }}") {
                    appendage = `<li class="clearfix"><div class="message-data"><span class="message-data-name"><i class="fa fa-circle you"></i>${username}</span></div><div class="message you-message">${message}</div></li>`;
                } else {
                    appendage = `<li class="clearfix"><div class="message-data align-right"><span class="message-data-name">${username}</span> <i class="fa fa-circle me"></i></div><div class="message me-message float-right">${message}</div></li>`;
                }

                const $chat_log = $("#chat_log");
                $("#chat_log_list").append(appendage);
                $chat_log.animate({scrollTop: $chat_log.prop("scrollHeight")}, 200);
            }

            socket.on('chat_response', handle_chat_response);
            socket.on('join_response', function (data) {
                set_game_data("room", data[2]);
                handle_chat_response(data);
            });
            $("#chat_join").on("click", function () {
                let $chat_join_input = $("#chat_join_input");
                socket.emit('join', ["{{ session['user'].name }}", $chat_join_input.val()]);
                $("#chat_join").attr("disabled", true).addClass("btn-secondary").removeClass("btn-primary");
                $chat_join_input.attr("disabled", true);
                $("#chat_send_input").attr("disabled", false);
                $("#chat_send").attr("disabled", false);
            });
            $("#chat_send").on("click", function () {
                let $chat_input = $("#chat_send_input");
                socket.emit('chat', ["{{ session['user'].name }}", $chat_input.val(), get_game_data("room")]);
                $chat_input.val('');
            });
        });

    </script>
    <div id="result_modal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="modal_body" style="text-align: center">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="quiz" class="main_game">
        <h2>⭐ สามารถใช้กดปุ่มคีย์บอร์ดแทนการคลิกช่องแถว บน(qwe) กลาง(asd) ล่าง(zxc) ได้ ⭐</h2>
        {% include 'game_start.html' %}
        <div style="display: flex; max-width: 1000px;margin:auto">
            <div id="game_quick_draw" class="main_game" style="min-width: 60%">
                <div class="quick_draw_row">
                    {% for i in range(9) %}
                        <div class="quick_draw_column">
                            {% for round in range(n_rounds) %}
                                <img id="img_{{ i }}_{{ round }}" class="quick_draw_img round_{{ round }}"
                                     alt="img_{{ i }}_{{ round }}" data-img_id="{{ i }}_{{ round }}"
                                     src="{{ url_for('static', filename='blank.png') }}" data-correct='-1'/>
                                <div class="overlay" id="overlay_{{ i }}_{{ round }}"></div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="chat_container" class="chat"
                 style="height: 550px;min-width: 40%; border:solid; margin: auto;">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="chat_join_label">หมายเลขห้อง</span>
                    <input id="chat_join_input" type="text" class="form-control" aria-label="หมายเลขห้อง"
                           aria-describedby="chat_room_label" name="room">
                    <button id="chat_join" type="button" class="btn btn-primary">เข้าห้อง</button>
                </div>
                <div id="chat_box">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="chat_send_label">ข้อความ</span>
                        <input id="chat_send_input" type="text" class="form-control" aria-label="ข้อความ"
                               aria-describedby="chat_input_label" disabled>
                        <button id="chat_send" type="button" class="btn btn-primary" disabled>send</button>
                    </div>
                    <h3>chat history</h3>
                    <div class="chat-history" id="chat_log"
                         style="height:380px;max-width: 95%;word-wrap: break-word;margin:auto;text-align: left;overflow-y:scroll">
                        <ul class="chat-ul" id="chat_log_list"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}