{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}เลือก mode การเล่น{% endblock %}</h1>
{% endblock %}

{% block content %}
    <script>
        $(function () {
            $("#form_treasure_hunt").submit(function () {
                const params = new URLSearchParams();
                $.each($("#form_treasure_hunt").serializeArray(), function (i, field) {
                    params.set(field.name, field.value);
                });
                if (parseInt(params.get("n_pics")) <= parseInt(params.get("n_correct"))) {
                    alert("จำนวนภาพที่ถูกต้อง ต้องมากกว่า จำนวนภาพทั้งหมด")
                    return false;
                } else {
                    window.location.href = "game/treasure_hunt?" + params.toString();
                    return false;
                }
            });
            $("#form_quick_draw").submit(function () {
                const params = new URLSearchParams();
                $.each($("#form_quick_draw").serializeArray(), function (i, field) {
                    params.set(field.name, field.value);
                });
                window.location.href = "game/quick_draw?" + params.toString();
                return false;
            });
            $("#treasure_hunt_info").click(function () {
                $('#result_modal').find('.modal-header > h5').text("ตัวอย่าง Treasure Hunt").end();
                let modal = new bootstrap.Modal('#result_modal');
                modal.show();
                $("#modal_body").html(`<img src="{{ url_for("static", filename="screenshots/treasure_hunt.png") }}"
                style="max-width:90%" alt="">`);
            });
            $("#quick_draw_info").click(function () {
                $('#result_modal').find('.modal-header > h5').text("ตัวอย่าง Quick Draw").end();
                let modal = new bootstrap.Modal('#result_modal');
                modal.show();
                $("#modal_body").html(`<img src="{{ url_for("static", filename="screenshots/quick_draw.png") }}"
                style="max-width:90%" alt="">`);
            });
        });
    </script>
    <div id="result_modal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="modal_body" style="text-align: center">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="treasure_hunt_tab" data-bs-toggle="tab" data-bs-target="#treasure_hunt"
                    type="button" role="tab" aria-controls="home" aria-selected="true">Treasure Hunt
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="quick_draw_tab" data-bs-toggle="tab" data-bs-target="#quick_draw"
                    type="button" role="tab" aria-controls="profile" aria-selected="false">Quick Draw
            </button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="treasure_hunt" role="tabpanel" aria-labelledby="treasure_hunt_tab">
            <form id="form_treasure_hunt">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="target_type_label">ชนิดพืช</span>
                    <select class="form-select" id="target_type" name="target_type"
                            aria-label="target_type" aria-describedby="target_type_label">
                        <option value="random">สุ่มชนิดพืช</option>
                        {% for type in types %}
                            <option value="{{ type.name }}"
                                    {% if type.name == 'durian' %}selected{% endif %}>{{ type.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="n_pics_label">จำนวนภาพทั้งหมด</span>
                    <input name="n_pics" type="number" class="form-control" value="25" min="1" max="100"
                           aria-label="จำนวนภาพทั้งหมด" aria-describedby="n_pics_label">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="n_correct_label">จำนวนภาพที่ถูกต้อง</span>
                    <input name="n_correct" type="number" class="form-control" value="5" min="1" max="100"
                           aria-label="จำนวนภาพที่ถูกต้อง" aria-describedby="n_correct_label">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="n_cols_label">จำนวนภาพต่อแถว</span>
                    <input name="n_cols" type="number" class="form-control" value="5" min="1" max="10"
                           aria-label="จำนวนภาพต่อแถว" aria-describedby="n_cols_label">
                </div>
                <button id="treasure_hunt_info" type="button" class="btn btn-primary" style="margin:1em"><i class="bi bi-info-circle"></i> ตัวอย่าง
                <button type="submit" class="btn btn-success" style="margin:1em"><i class="bi bi-play-circle"></i> Play!</button>
                </button>


            </form>
        </div>
        <div class="tab-pane fade" id="quick_draw" role="tabpanel" aria-labelledby="quick_draw_tab">
            <form id="form_quick_draw">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="target_type_label">ชนิดพืช</span>
                    <select class="form-select" id="target_type" name="target_type"
                            aria-label="target_type" aria-describedby="target_type_label">
                        <option value="random">สุ่มชนิดพืช</option>
                        {% for type in types %}
                            <option value="{{ type.name }}"
                                    {% if type.name == 'durian' %}selected{% endif %}>{{ type.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="n_rounds_label">จำนวนรอบ</span>
                    <input name="n_rounds" type="text" class="form-control" value="10" min="1" max="100"
                           aria-label="จำนวนรอบ" aria-describedby="n_rounds_label">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="n_col_label">จำนวนตัวเลือก</span>
                    <input name="n_choices" type="number" class="form-control" value="2" min="2" max="9"
                           aria-label="จำนวนตัวเลือก" aria-describedby="n_col_label">
                </div>
                <button id="quick_draw_info" type="button" class="btn btn-primary" style="margin:1em"><i class="bi bi-info-circle"></i> ตัวอย่าง
                <button type="submit" class="btn btn-success" style="margin:1em"><i class="bi bi-play-circle"></i> Play!</button>
            </form>
        </div>
    </div>
{% endblock %}