{% extends 'base.html' %}

{% block title %}POLL ROOM CODE: {{ room_code }} {% endblock %}
{% block header %}
    <h1><span class="badge bg-primary">POLL ROOM CODE: <span id="room_code"
                                                             class="badge bg-black">LOADING ROOM CODE</span></span>
        <button type="button" class="btn btn-warning" id="poll_join">REJOIN</button>
    </h1>
{% endblock %}

{% set NUM_CHOICES = 6 %}
{% set PLACEHOLDER_TEXT = ["World", "Universe", "Earth", "Isekai", "Moon", "Sun"] %}

{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="poll.css") }}"/>
    <script type="text/javascript">
        $(function () {

            const room_code = "{{ room_code }}";
            const emojis = ["🐻", "❄️", "🐜", "🧐", "👨‍🦱", "🚌", "🦟", "👘", "🍌", "🏎",
                "🎇", "🐺", "💂‍♂️", "👛", "👢", "🕵️", "🥕", "📲", "👨‍👧‍👧", "🕍"]

            function get_random_emoji(k = 1) {
                let result = "";
                for (let i = 0; i < k; i++) {
                    result = result + emojis[Math.floor(Math.random() * emojis.length)];
                }
                return result;
            }

            let socket = io();
            let user_id = -1;
            {% if "user" in session.keys() %}
                user_id = "{{ session['user'].id }}";
            {% else %}
                alert("you must first login with Google (top right)");
            {% endif %}
            function join_room() {
                socket.emit('poll_join_event', [user_id, room_code], response => {
                    $("#room_code").html(room_code);
                });
            }

            $("#poll_join").on("click", function () {
                join_room();
            });

            socket.on('poll_open_question', function (data) {
                $(".choices").css("display", "none");
                $("#received_question").html(data[0][1]).data("question-id", data[0][0]);
                for (let i = 0; i < data[1].length; i++) {
                    console.log(data[1][i]);
                    const random_emoji = get_random_emoji(5);
                    $("#received_choice_" + i).css("display", "flex");
                    $("#received_choice_text_" + i).html(random_emoji).data("choice-text", data[1][i][1]);
                    $("#received_choice_vote_" + i).data("choice-id", data[1][i][0]).html("");
                }
            });
            socket.on('poll_post_answer', function (data) {
                console.log(data);
                const choice_id = data[2];

                for (let i = 0; i < 10; i++) {
                    const choice_selector = $("#received_choice_vote_" + i);
                    if ((choice_selector.length > 0) && (choice_selector.data("choice-id") === choice_id)) {
                        choice_selector.html(choice_selector.html() + get_random_emoji());
                    }
                }
            });

            $("#close_question").on("click", function () {
                socket.emit('poll_close_question_event', [room_code]);
            });

            $(".new_question_prep").on("click", function () {
                let $question = "Hello";
                let $choices = ["World", "Earth", "Isekai", "Universe"];
                alert($(this).html());
                switch ($(this).html()) {
                    case "BG":
                        $question = "Are you a boy? Or are you a girl?";
                        $choices = ["boy", "girl"];
                        break
                    case "EN":
                        $question = "How much English should I use?";
                        $choices = ["Full English let's go!", "English terminology, explain in Thai plz.", "English slides are already hard for me T_T"];
                        break
                    case "STAT":
                        $question = "Statistical Background?";
                        $choices = ["I know math", "I can use math", "What's math?"];
                        break
                    case "ML":
                        $question = "Machine Learning Background?";
                        $choices = ["0", "1", "2", "3"];
                        break
                    case "BIAS":
                        $question = "Is Bias Good/Bad?";
                        $choices = ["Good", "Bad"];
                        break
                    case "DANGER":
                        $question = "What is more dangerous?";
                        $choices = ["Shark", "Good Bois"];
                        break
                    case "DOG":
                        $question = "Are dogs dangerous?";
                        $choices = ["Yes", "No"];
                        break
                    case "CARPLANE":
                        $question = "Which method of transportation is more dangerous?";
                        $choices = ["Cars", "Planes"];
                        break
                    case "PLANE":
                        $question = "WW2 planes: Where to reinforce the armor?";
                        $choices = ["1. Wings", "2. Nose", "3. Engine", "4. Gunman", "5. Tail", "6. Tail wings"];
                        break
                    case "RAIN":
                        $question = "Based on your experience, when's it more likely to rain?";
                        $choices = ["Cloth", "No cloth", "Equal"];
                        break
                    case "PARK":
                        $question = "In a parking lot, one car spent 10 minutes trying to park. The driver is";
                        $choices = ["A man", "A woman", "A KKU student"];
                        break
                    case "KNIGHT":
                        $question = "which knight is stronger?";
                        $choices = ["Dancing", "Lightning"];
                        break
                    case "STUDENT":
                        $question = "Which group of students are smarter?";
                        $choices = ["In uniform", "In graduation gown"];
                        break
                    case "GAMBLE":
                        $question = "Which game will you play?";
                        $choices = ["+2/-4", "+0/+4", "+1/+0"];
                        break
                    case "HUNGRY":
                        $question = "What to do?";
                        $choices = ["Horapa+Pork", "10 minutes drive for kaprao"];
                        break
                    case "TRAVEL":
                        $question = "Travel cost to hospital (both legs combined)?";
                        $choices = ["<150 THB", "150-299 THB", "> 300 THB"];
                        break
                }
                let $data = [room_code, $question, $choices];
                console.log($data);
                socket.emit('poll_open_question_event', $data);
            });

            $("#new_question").on("click", function () {
                let $question = $("#question").val();
                let $choices = [];
                for (let i = 0; i < 10; i++) {
                    const choice_selector = $("#choice_" + i);
                    if ((choice_selector.length > 0) && choice_selector.val().length > 0) {
                        $choices.push(choice_selector.val());
                    }
                }
                let $data = [room_code, $question, $choices];
                console.log($data);
                socket.emit('poll_open_question_event', $data);
            });
            socket.on("connect", () => {
                join_room();
            });

            $("#toggle_show_choice").on("click", function () {
                for (let i = 0; i < 10; i++) {
                    const choice_selector = $("#received_choice_text_" + i);
                    if (choice_selector.length > 0) {
                        choice_selector.html(choice_selector.data("choice-text"));
                    }
                }
            });
        });

    </script>

    <div class="content" id="question_post">
        <div class="input-group mb-3">
            <span class="input-group-text" id="question-desc">question</span>
            <input type="text" class="form-control" placeholder="Hello" aria-label="question" id="question"
                   aria-describedby="question-desc">
        </div>
        {% for i in range(NUM_CHOICES) %}
            <div class="input-group mb-2 d-inline-flex align-items-center w-auto">
                <span class="input-group-text" id="choice-desc">choice</span>
                <input type="text" class="form-control" placeholder="{{ PLACEHOLDER_TEXT[i] }}"
                       aria-label="choice_{{ i }}"
                       id="choice_{{ i }}" aria-describedby="choice-{{ i }}-desc" style="min-width: 320px">
            </div>
        {% endfor %}
        <div style="text-align: center">
            <button type="button" class="btn btn-success" id="new_question">GO</button>
            <button type="button" class="btn btn-danger" id="close_question">END</button>
        </div>
        <div>
            <button type="button" class="btn btn-info new_question_prep">BG</button>
            <button type="button" class="btn btn-info new_question_prep">EN</button>
            <button type="button" class="btn btn-info new_question_prep">STAT</button>
            <button type="button" class="btn btn-info new_question_prep">ML</button>
            <button type="button" class="btn btn-info new_question_prep">BIAS</button>
            <button type="button" class="btn btn-info new_question_prep">DANGER</button>
            <button type="button" class="btn btn-info new_question_prep">DOG</button>
            <button type="button" class="btn btn-info new_question_prep">CARPLANE</button>
            <button type="button" class="btn btn-info new_question_prep">PLANE</button>
            <button type="button" class="btn btn-info new_question_prep">RAIN</button>
            <button type="button" class="btn btn-info new_question_prep">PARK</button>
            <button type="button" class="btn btn-info new_question_prep">KNIGHT</button>
            <button type="button" class="btn btn-info new_question_prep">STUDENT</button>
            <button type="button" class="btn btn-info new_question_prep">GAMBLE</button>
            <button type="button" class="btn btn-info new_question_prep">HUNGRY</button>
            <button type="button" class="btn btn-info new_question_prep">TRAVEL</button>
        </div>
    </div>
    <div class="content" id="question_result">
        <span class="center-text" id="received_question" data-question-id="-1">Hello</span>
        <div class="container">
            {% for i in range(NUM_CHOICES) %}
                <div class="row choices" id="received_choice_{{ i }}" data-choice-id="{{ i }}">
                    <div class="col choice_text align-left col-sm-2 text-wrap border rounded-start p-2"
                         id="received_choice_text_{{ i }}" data-choice-id="{{ i }}">
                        {{ PLACEHOLDER_TEXT[i] }}
                    </div>
                    <div class="col align-left col-sm-20 text-wrap border rounded-end p-2"
                         id="received_choice_vote_{{ i }}" data-choice-id="{{ i }}">
                    </div>
                </div>
            {% endfor %}
        </div>
        <button type="button" class="btn btn-info m-2" id="toggle_show_choice">Show Choice Text</button>
    </div>
{% endblock %}