{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}CHAT {{ target_type }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(function () {
            let socket = io();

            function handle_chat_response(data) {
                console.log(data);
                const username = data[0];
                const message = data[1];
                let appendage;
                if (username === "{{ session['user'].name }}") {
                    appendage = `<li class="clearfix"><div class="message-data"><span class="message-data-name"><i class="fa fa-circle you"></i>${username}</span></div><div class="message you-message">${message}</div></li>`;
                } else {
                    appendage = `<li class="clearfix"><div class="message-data align-right"><span class="message-data-name">${username}</span> <i class="fa fa-circle me"></i></div><div class="message me-message float-right">${message}</div></li>`;
                }

                const $chat_log = $("#chat_log");
                $("#chat_log_list").append(appendage);
                $chat_log.animate({scrollTop: $chat_log.prop("scrollHeight")}, 200);
            }

            socket.on('chat_response', handle_chat_response);
            socket.on('join_response', function (data) {
                set_game_data("room", data[2]);
                handle_chat_response(data);
            });
            $("#chat_join").on("click", function () {
                let $chat_join_input = $("#chat_join_input");
                socket.emit('join', ["{{ session['user'].name }}", $chat_join_input.val()]);
                $("#chat_join").attr("disabled", true).addClass("btn-secondary").removeClass("btn-primary");
                $chat_join_input.attr("disabled", true);
                $("#chat_send_input").attr("disabled", false);
                $("#chat_send").attr("disabled", false);
            });
            $("#chat_send").on("click", function () {
                let $chat_input = $("#chat_send_input");
                socket.emit('chat', ["{{ session['user'].name }}", $chat_input.val(), get_game_data("room")]);
                $chat_input.val('');
            });
        });

    </script>
{% endblock %}