{% extends 'base.html' %}

{% block title %}POLL ROOM CODE: {{ room_code }} {% endblock %}
{% block header %}
    <h1><span class="badge bg-primary">POLL ROOM CODE: <span class="badge bg-black">{{ room_code }}</span></span>
        <button type="button" class="btn btn-warning" id="poll_join">REJOIN</button>
    </h1>
{% endblock %}

{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="poll.css") }}"/>

    <script type="text/javascript">
        $(function () {
            const room_code = "{{ room_code }}";
            let socket = io();
            socket.emit('poll_join_event', ["{{ session['user'].name }}", room_code]);

            $("#poll_join").on("click", function () {
                socket.emit('poll_join_event', ["{{ session['user'].id }}", room_code]);
            });

            let $choice = $(".choices");
            socket.on('poll_open_question', function (data) {
                $choice.css("display", "none");
                $choice.css("cursor", "pointer");
                $choice.css("background", "white");
                $("#received_question").html(data[0][1]).data("question-id", data[0][0]);
                for (let i = 0; i < data[1].length; i++) {
                    $("#received_choice_text_" + i).html(data[1][i][1]).css("display", "block").data("choice-id", data[1][i][0]);
                }
            });
            socket.on('poll_close_question', function (data) {
                $choice.css("background", "grey");
                $choice.css("cursor", "not-allowed");
                $choice.data("choice-id", -1);
            });

            $choice.on("click", function () {
                const $answer = $(this).data("choice-id");
                if ($answer < 0) {
                    alert("too late!");
                }
                console.log($answer);
                socket.emit('poll_post_answer_event', [room_code, "{{ session['user'].id }}", $answer]);
                $choice.css("background", "grey");
                $choice.css("cursor", "not-allowed");
                $choice.data("choice-id", -1);
                $(this).css("background", "lightgreen");
            });
        });

    </script>


    {% set NUM_CHOICES = 8 %}
    <div class="content" id="question_result">
        <span class="center-text" id="received_question" data-question-id="-1">waiting for a question</span>
    </div>
    <div class="container">
        {% for i in range(NUM_CHOICES) %}
            {% if i % 4 == 0 %}
                {% if i > 0 %}
                    </div>
                {% endif %}
                <div class="row text-center">
            {% endif %}
            <div class="col choices text-wrap border rounded h4 m-2 p-2" id="received_choice_text_{{ i }}"
                 data-choice-id="{{ i }}" style="cursor: pointer;">
                choice {{ i }} Dog
            </div>
        {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}