{% extends 'base.html' %}

{% block title %}POLL ROOM CODE: {{ room_code }} {% endblock %}
{% block header %}
    <h1><span class="badge bg-primary">POLL ROOM CODE: <span class="badge bg-black"
                                                             id="room_code">LOADING ROOM CODE</span></span>
        <button type="button" class="btn btn-warning" id="poll_join">REJOIN</button>
    </h1>
{% endblock %}

{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="poll.css") }}"/>

    <script type="text/javascript">
        $(function () {
            const room_code = "{{ room_code }}";
            let user_id = -1;
            {% if "user" in session.keys() %}
                user_id = "{{ session['user'].id }}";
            {% else %}
                alert("you must first login with Google (top right)");
            {% endif %}
            let $choice = $(".choices");
            let socket = io("/PlantQuizGame");

            function join_room() {
                socket.emit('poll_join_event', [user_id, room_code], response => {
                    $("#room_code").html(room_code);
                });
            }

            $("#poll_join").on("click", function () {
                join_room();
            });

            socket.on('poll_open_question', function (data) {
                $choice.css("display", "none");
                $choice.css("cursor", "pointer");
                $choice.css("background", "white");
                $("#received_question").html(data[0][1]).data("question-id", data[0][0]);
                for (let i = 0; i < data[1].length; i++) {
                    $("#received_choice_text_" + i).html(data[1][i][1]).css("display", "block").data("choice-id", data[1][i][0]);
                }
            });
            socket.on('poll_close_question', function (data) {
                $choice.css("background", "grey");
                $choice.css("cursor", "not-allowed");
                $choice.data("choice-id", -1);
            });
            socket.on("connect", () => {
                join_room();
            });

            $choice.on("click", function () {
                const $answer = $(this).data("choice-id");
                $choice.css("background", "grey");
                $choice.css("cursor", "not-allowed");
                $choice.data("choice-id", -1);
                if ($answer < 0) {
                    $("#received_question").html("Too late!");
                } else {
                    socket.emit('poll_post_answer_event', [room_code, user_id, $answer]);
                    $(this).css("background", "lightgreen");
                }
            });
        });

    </script>


    {% set NUM_CHOICES = 8 %}
    <div class="content" id="question_result">
        <span class="center-text" id="received_question" data-question-id="-1">
            {% if "user" in session.keys() %}
                waiting for a question
            {% else %}
                you must first login with Google (top right). <br>
                By logging in, you agree to our <a href="/terms">Terms of Use.</a>
            {% endif %}
        </span>
    </div>

    <div class="container">
        {% for i in range(NUM_CHOICES) %}
            {% if i % 4 == 0 %}
                {% if i > 0 %}
                    </div>
                {% endif %}
                <div class="row text-center">
            {% endif %}
            <div class="col choices text-wrap border rounded h4 m-2 p-2" id="received_choice_text_{{ i }}"
                 data-choice-id="-1" style="cursor: pointer;">
                choice {{ i }} Dog
            </div>
        {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}