{% extends 'base.html' %}

{% block title %}POLL ROOM CODE: {{ room_code }} {% endblock %}
{% block header %}
    <h1><span class="badge bg-primary">POLL ROOM CODE: <span class="badge bg-black">{{ room_code }}</span></span></h1>
{% endblock %}

{% set NUM_CHOICES = 6 %}

{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="poll.css") }}"/>
    <script type="text/javascript">
        $(function () {
            const room_code = "{{ room_code }}";

            let socket = io();
            socket.emit('poll_join_event', ["{{ session['user'].name }}", room_code]);

            socket.on('poll_join', function (data) {
                console.log(data);
            });

            socket.on('poll_open_question', function (data) {
                $(".choices").css("display", "none");
                $("#received_question").html(data[0][1]).data("question-id", data[0][0]);
                for (let i = 0; i < data[1].length; i++) {
                    console.log(data[1][i]);
                    $("#received_choice_" + i).css("display", "flex");
                    $("#received_choice_text_" + i).html(data[1][i][1]);
                    $("#received_choice_vote_" + i).data("choice-id", data[1][i][0]).html("");
                }
            });
            socket.on('poll_post_answer', function (data) {
                console.log(data);
                const choice_id = data[2];

                for (let i = 0; i < 10; i++) {
                    const choice_selector = $("#received_choice_vote_" + i);
                    if ((choice_selector.length > 0) && (choice_selector.data("choice-id") === choice_id)) {
                        choice_selector.html(choice_selector.html()+"😀");
                    }
                }
            });

            $("#new_question").on("click", function () {
                let $question = $("#question").val();
                let $choices = [];
                for (let i = 0; i < 10; i++) {
                    const choice_selector = $("#choice_" + i);
                    if ((choice_selector.length > 0) && choice_selector.val().length > 0) {
                        $choices.push(choice_selector.val());
                    }
                }
                let $data = [room_code, $question, $choices];
                console.log($data);
                socket.emit('poll_open_question_event', $data);
            });
        });

    </script>

    <div class="content" id="question_post">
        <div class="input-group mb-3">
            <span class="input-group-text" id="question-desc">question</span>
            <input type="text" class="form-control" placeholder="question" aria-label="question" id="question"
                   aria-describedby="question-desc">
        </div>
        {% for i in range(NUM_CHOICES) %}
            <div class="input-group mb-2 d-inline-flex align-items-center w-auto">
                <span class="input-group-text" id="choice-desc">choice</span>
                <input type="text" class="form-control" placeholder="choice" aria-label="choice_{{ i }}"
                       id="choice_{{ i }}" aria-describedby="choice-{{ i }}-desc" style="min-width: 320px">
            </div>
        {% endfor %}
        <input type="button" value="GO" id="new_question">
    </div>
    <div class="content" id="question_result">
        <span class="center-text" id="received_question" data-question-id="-1">q</span>
        <div class="container">
            {% for i in range(NUM_CHOICES) %}
                <div class="row choices" id="received_choice_{{ i }}" data-choice-id="{{ i }}">
                    <div class="col align-left col-sm-2 text-wrap border rounded-start p-2"
                         id="received_choice_text_{{ i }}" data-choice-id="{{ i }}">
                        text {{ i }}
                    </div>
                    <div class="col align-left col-sm-20 text-wrap border rounded-end p-2"
                         id="received_choice_vote_{{ i }}" data-choice-id="{{ i }}">
                        vote {{ i }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}