{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}สิงปืนไวแห่งเมืองจันทบูร: หาใบ {{ target_type }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <meta id="game_data"
          data-n_choices="{{ n_choices }}"
          data-n_rounds="{{ n_rounds }}"
    >
    <script type="text/javascript">
        let scores = {correct: 0, incorrect: 0};
        let playing = true;
        let current_round = 0;
        let timer;
        let start_time;
        $(function () {
            const n_rounds = get_game_data("n_rounds", parseInt);
            const n_choices = get_game_data("n_choices", parseInt);
            const choice_location = [{% for i in [3,5,1,4,0,2,7,6,8] %}"#img_{{ i }}", {% endfor %}];

            $({{ all_img_src|safe }}).preload();
            const all_img = JSON.parse('{{ img|safe }}');
            const all_ans = JSON.parse('{{ ans|safe }}');

            function new_round(round_id) {
                for (let i = 0; i < n_choices; i++) {
                    const this_round_img = all_img[round_id][i];
                    const this_round_ans = all_ans[round_id][i];
                    $(choice_location[i])
                        .css("border-color", "transparent")
                        .attr("src", "/images/" + this_round_img["id"])
                        .data("correct", this_round_ans)
                        .data("selected", false);
                    $("#overlay_" + $(choice_location[i]).data("img_id"))
                        .removeClass("correct")
                        .removeClass("incorrect");
                }
            }

            $('#start').on('click', function () {
                alert("เริ่ม!")
                $("#start").prop("disabled", true).removeClass("btn-primary").add("btn-secondary");
                $(".game_td_img").css("border", "transparent");
                $(".quick_draw_img").show();
                start_time = Date.now();
                new_round(0);

                timer = setInterval(function () {
                    $("#time_lapse").html(time_elapse_text())
                }, 5);
            });
            $('.quick_draw_img').on('click', function () {
                if (!playing) {
                    return;
                }
                if (!$(this).data("selected") && ($(this).data("correct") !== -1)) {
                    $(this).data("selected", true);
                    const correctness = $(this).data("correct");
                    if (correctness === 1) {
                        $(this).css("border-color", "green");
                        $("#overlay_" + $(this).data("img_id")).addClass("correct");
                        scores.correct += 1
                        current_round++;
                        if (current_round < n_rounds) {
                            new_round(current_round);
                        }
                    } else {
                        $(this).css("border-color", "red");
                        $("#overlay_" + $(this).data("img_id")).addClass("incorrect");
                        scores.incorrect += 1
                    }

                }
                $("#correct").html(scores.correct);
                $("#incorrect").html(scores.incorrect);
                if (current_round >= n_rounds) {
                    playing = false;
                    clearInterval(timer);
                    $("#time_lapse").html(time_elapse_text());
                    let modal = new bootstrap.Modal('#result_modal');
                    modal.show();
                    $("#modal_body").html(`ในที่สุดก็เลือกครบ!<br>
                        ตอบถูก ${scores.correct} ภาพ<br>
                        ตอบผิด ${scores.incorrect} ภาพ<br>
                        ใช้เวลาไป ${time_elapse_text()}`);
                }
            });

            $(document).on('keydown', function (event) {
                const n_choices = get_game_data("n_choices", parseInt);
                // Check the keyCode or key for the specific keys you want to target (W, A, S, D)
                if (event.keyCode === 81 || event.key === 'q') {
                    $("#img_0").click();
                } else if (event.keyCode === 87 || event.key === 'w') {
                    $("#img_1").click();
                } else if (event.keyCode === 69 || event.key === 'e') {
                    $("#img_2").click();
                } else if (event.keyCode === 65 || event.key === 'a') {
                    $("#img_3").click();
                } else if (event.keyCode === 83 || event.key === 's') {
                    $("#img_4").click();
                } else if (event.keyCode === 68 || event.key === 'd') {
                    $("#img_5").click();
                } else if (event.keyCode === 90 || event.key === 'z') {
                    $("#img_6").click();
                } else if (event.keyCode === 88 || event.key === 'x') {
                    $("#img_7").click();
                } else if (event.keyCode === 67 || event.key === 'c') {
                    $("#img_8").click();
                }
            });
        });

    </script>
    <div id="result_modal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="modal_body" style="text-align: center">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="quiz" class="main_game">
        <h2><span class="badge badge-secondary">⭐</span> สามารถใช้กดปุ่มคีย์บอร์ดแทนการคลิกช่องแถว บน(qwe) กลาง(asd)
            ล่าง(zxc) ได้<span class="badge badge-secondary">⭐</span></h2>
        {% include 'game_start.html' %}
        <div id="game_quick_draw" class="main_game">
            <div class="quick_draw_row">
                {% for i in range(9) %}
                    <div class="quick_draw_column">
                        <img id="img_{{ i }}" class="quick_draw_img" alt="img_{{ i }}" data-img_id="{{ i }}"
                             src="{{ url_for('static', filename='blank.png') }}" data-correct='-1'/>
                        <div class="overlay" id="overlay_{{ i }}"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}