{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}สิงปืนไวแห่งเมืองจันทบูร: หาใบ {{ target_type }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <meta id="game_data"
          data-n_choices="{{ n_choices }}"
          data-n_rounds="{{ n_rounds }}"
    >
    <link rel="stylesheet" href="{{ url_for("static", filename="games.css") }}">
    <script type="text/javascript">
        let scores = {correct: 0, incorrect: 0};
        let playing = true;
        let timer;
        let start_time;
        $(function () {
            const img_width = 200;
            const td_width = img_width + 6;
            $(".game_td_img").css("width", td_width + "px").css("height", td_width + "px");
            $(".game_img").css("width", img_width + "px").css("height", img_width + "px");

            function get_game_data(key, parser = function (x) {
                return x
            }) {
                return parser($("#game_data").data(key));
            }

            function time_elapse_text() {
                const elapse = Date.now() - start_time;
                const seconds = elapse / 1000 % 60;
                const minutes = Math.floor(elapse / 60_000);
                return (minutes.toString().padStart(2, '0')) + " นาที " + ((seconds).toFixed(3)).padStart(6, '0') + " วินาที";
            }

            const n_rounds = get_game_data("n_rounds", parseInt);
            const n_choices = get_game_data("n_choices", parseInt);

            $('#start').on('click', function () {
                alert("เริ่ม!")
                $("#start").prop("disabled", true).removeClass("btn-primary").add("btn-secondary");
                $(".game_td_img").css("border", "transparent");
                $(".game_img").show();
                start_time = Date.now();

                $("#img_bl").attr("src", "images/{{ img[0][0].id }}")
                    .attr("data-correct", "{% if ans[0][0] %}1{% else %}0{% endif %}");
                $("#img_br").attr("src", "images/{{ img[0][1].id }}")
                    .attr("data-correct", "{% if ans[0][1] %}1{% else %}0{% endif %}");

                timer = setInterval(function () {
                    $("#time_lapse").html(time_elapse_text())
                }, 5);
            });
            $('.game_img').on('click', function () {
                if (!playing) {
                    return;
                }
                if (!$(this).data("selected")) {
                    const correctness = $(this).data("correct");
                    if (correctness === 1) {
                        $(this).css("border", "2px solid green");
                        scores.correct += 1
                    } else {
                        $(this).css("border", "2px solid red");
                        scores.incorrect += 1
                    }
                }
                $(this).data("selected", true);
                $("#correct").html(scores.correct);
                $("#incorrect").html(scores.incorrect);
                if (scores.correct === 1) {
                    playing = false;
                    clearInterval(timer);
                    $("#time_lapse").html(time_elapse_text());
                    let modal = new bootstrap.Modal('#result_modal');
                    modal.show();
                    $("#modal_body").html(`ในที่สุดก็เลือกครบ!<br>
                        ตอบถูก ${scores.correct} ภาพ<br>
                        ตอบผิด ${scores.incorrect} ภาพ<br>
                        ใช้เวลาไป ${time_elapse_text()}`);
                }
            });

            $(document).on('keydown', function (event) {
                // Check the keyCode or key for the specific keys you want to target (W, A, S, D)
                if (event.keyCode === 87 || event.key === 'w') {
                    $("#img_tm").click();
                } else if (event.keyCode === 65 || event.key === 'a') {
                    $("#img_bl").click();
                } else if (event.keyCode === 83 || event.key === 's') {
                    $("#img_bm").click();
                } else if (event.keyCode === 68 || event.key === 'd') {
                    $("#img_br").click();
                }
            });
        });

    </script>
    <div id="result_modal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="modal_body" style="text-align: center">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="quiz" style="text-align: center">
        <input type="button" id="start" value="start" class="btn btn-primary"> <br>
        <span class="badge bg-success">#correct
        <span id="correct" class="badge bg-light text-dark">0</span></span>
        <span class="badge bg-danger">#incorrect
        <span id="incorrect" class="badge bg-light text-dark">0</span></span><br>
        <label for="time_lapse">เวลาที่ใช้: </label>
        <span id="time_lapse">00 นาที 00.000 วินาที</span>
        <table id="quick_draw" style="margin:0 auto">
            <tbody>
            <tr>
                <!-- top left             -->
                <td class="game_td_img"><img id="img_tl" class="game_img" alt="img_tl"/></td>
                <!-- top mid      = UP    -->
                <td class="game_td_img"><img id="img_tm" class="game_img" alt="img_tm"/></td>
                <!-- top right            -->
                <td class="game_td_img"><img id="img_tr" class="game_img" alt="img_tr"/></td>
            </tr>
            <tr>
                <!-- bottom left  = LEFT  -->
                <td class="game_td_img"><img id="img_bl" class="game_img" alt="img_bl"/></td>
                <!-- bottom mid   = DOWN  -->
                <td class="game_td_img"><img id="img_bm" class="game_img" alt="img_bm"/></td>
                <!-- bottom right = RIGHT -->
                <td class="game_td_img"><img id="img_br" class="game_img" alt="img_br"/></td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}