{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}สิงปืนไวแห่งเมืองจันทบูร: หาใบ {{ target_type }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <meta id="game_data"
          data-n_choices="{{ n_choices }}"
          data-n_rounds="{{ n_rounds }}"
          data-correct_type_id="{{ correct_type_id }}"
    >
    <link rel="stylesheet" href="{{ url_for("static", filename="games.css") }}">
    <script type="text/javascript" src="{{ url_for("static", filename="util.js") }}"></script>
    <script type="text/javascript">
        let scores = {correct: 0, incorrect: 0};
        let playing = true;
        let current_round = 0;
        let timer;
        let start_time;
        $(function () {
            const n_rounds = get_game_data("n_rounds", parseInt);
            const n_choices = get_game_data("n_choices", parseInt);
            const correct_type_id = get_game_data("correct_type_id", parseInt);
            const choice_location = ["#img_ml", "#img_mr", "#img_tm", "#img_mm", "#img_tl", "#img_tr", "#img_bm", "#img_bl", "#img_br"];

            $({{ all_img_src|safe }}).preload();
            const all_img = JSON.parse('{{ img|safe }}');

            function new_round(round_id) {
                for (let i = 0; i < n_choices; i++) {
                    const this_round_img = all_img[round_id][i];
                    console.log(this_round_img);
                    $(choice_location[i])
                        .css("border-color", "transparent")
                        .attr("src", "images/" + this_round_img["id"])
                        .data("correct", this_round_img["tag_id"].includes(correct_type_id) ? 1 : 0)
                        .data("selected", false);
                }
            }

            $('#start').on('click', function () {
                alert("เริ่ม!")
                $("#start").prop("disabled", true).removeClass("btn-primary").add("btn-secondary");
                $(".game_td_img").css("border", "transparent");
                $(".gunner_img").show();
                start_time = Date.now();
                new_round(0);

                timer = setInterval(function () {
                    $("#time_lapse").html(time_elapse_text())
                }, 5);
            });
            $('.gunner_img').on('click', function () {
                if (!playing) {
                    return;
                }
                if (!$(this).data("selected")) {
                    $(this).data("selected", true);
                    const correctness = $(this).data("correct");
                    if (correctness === 1) {
                        $(this).css("border-color", "green");
                        scores.correct += 1
                        current_round++;
                        if (current_round < n_rounds) {
                            new_round(current_round);
                        }
                    } else {
                        $(this).css("border-color", "red");
                        scores.incorrect += 1
                    }

                }
                $("#correct").html(scores.correct);
                $("#incorrect").html(scores.incorrect);
                if (current_round >= n_rounds) {
                    playing = false;
                    clearInterval(timer);
                    $("#time_lapse").html(time_elapse_text());
                    let modal = new bootstrap.Modal('#result_modal');
                    modal.show();
                    $("#modal_body").html(`ในที่สุดก็เลือกครบ!<br>
                        ตอบถูก ${scores.correct} ภาพ<br>
                        ตอบผิด ${scores.incorrect} ภาพ<br>
                        ใช้เวลาไป ${time_elapse_text()}`);
                }
            });

            $(document).on('keydown', function (event) {
                // Check the keyCode or key for the specific keys you want to target (W, A, S, D)
                if (event.keyCode === 81 || event.key === 'q') {
                    $("#img_tl").click();
                } else if (event.keyCode === 87 || event.key === 'w') {
                    $("#img_tm").click();
                } else if (event.keyCode === 69 || event.key === 'e') {
                    $("#img_tr").click();
                } else if (event.keyCode === 65 || event.key === 'a') {
                    $("#img_ml").click();
                } else if (event.keyCode === 83 || event.key === 's') {
                    $("#img_mm").click();
                } else if (event.keyCode === 68 || event.key === 'd') {
                    $("#img_mr").click();
                } else if (event.keyCode === 90 || event.key === 'z') {
                    $("#img_bl").click();
                } else if (event.keyCode === 88 || event.key === 'x') {
                    $("#img_bm").click();
                } else if (event.keyCode === 67 || event.key === 'c') {
                    $("#img_br").click();
                }
            });
        });

    </script>
    <div id="result_modal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="modal_body" style="text-align: center">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="quiz" class="main_game">
        <h2><span class="badge badge-secondary">⭐</span> สามารถใช้กดปุ่มคีย์บอร์ดแทนการคลิกช่องแถว บน(qwe) กลาง(asd) ล่าง(zxc) ได้<span class="badge badge-secondary">⭐</span></h2>
        <input type="button" id="start" value="start" class="btn btn-primary"> <br>
        <span class="badge bg-success">#correct
        <span id="correct" class="badge bg-light text-dark">0</span></span>
        <span class="badge bg-danger">#incorrect
        <span id="incorrect" class="badge bg-light text-dark">0</span></span><br>
        <label for="time_lapse">เวลาที่ใช้: </label>
        <span id="time_lapse">00 นาที 00.000 วินาที</span>
        <div id="game_quick_draw" class="main_game">
            <div class="gunner_row">
                <!-- top left             -->
                <div class="gunner_column">
                    <img id="img_tl" class="gunner_img" alt="img_tl" src="{{ url_for('static', filename='blank.png') }}"/>
                </div>
                <!-- top mid      = UP    -->
                <div class="gunner_column">
                    <img id="img_tm" class="gunner_img" alt="img_tm" src="{{ url_for('static', filename='blank.png') }}"/>
                </div>
                <!-- top right            -->
                <div class="gunner_column">
                    <img id="img_tr" class="gunner_img" alt="img_tr" src="{{ url_for('static', filename='blank.png') }}"/>
                </div>
            </div>
            <div class="gunner_row">
                <!-- bottom left  = LEFT  -->
                <div class="gunner_column">
                    <img id="img_ml" class="gunner_img" alt="img_ml" src="{{ url_for('static', filename='blank.png') }}"/>
                </div>
                <!-- bottom mid   = DOWN  -->
                <div class="gunner_column">
                    <img id="img_mm" class="gunner_img" alt="img_mm" src="{{ url_for('static', filename='blank.png') }}"/>
                </div>
                <!-- bottom right = RIGHT -->
                <div class="gunner_column">
                    <img id="img_mr" class="gunner_img" alt="img_mr" src="{{ url_for('static', filename='blank.png') }}"/>
                </div>
            </div>
            <div class="gunner_row">
                <!-- bottom left  = LEFT  -->
                <div class="gunner_column">
                    <img id="img_bl" class="gunner_img" alt="img_bl" src="{{ url_for('static', filename='blank.png') }}"/>
                </div>
                <!-- bottom mid   = DOWN  -->
                <div class="gunner_column">
                    <img id="img_bm" class="gunner_img" alt="img_bm" src="{{ url_for('static', filename='blank.png') }}"/>
                </div>
                <!-- bottom right = RIGHT -->
                <div class="gunner_column">
                    <img id="img_br" class="gunner_img" alt="img_br" src="{{ url_for('static', filename='blank.png') }}"/>
                </div>
            </div>
        </div>
    </div>

{% endblock %}