{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}CODE{% endblock %}</h1>
{% endblock %}

{% block content %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.31.0/ace.min.js" type="text/javascript"
            charset="utf-8"></script>
    <style media="screen">
        #editor {
            width: 100%;
            height: 200px;
        }

        .selector_choices {
            min-width: 240px;
            margin: 2px;
        }

        .passed {
            color: green
        }

        .failed {
            color: red
        }

        .raised {
            color: white;
            background-color: red
        }
    </style>
    <script>

        const categories = {};
        {% for c in categories %}
            categories['{{ c.id }}'] = JSON.parse(`{{ c|safe }}`);
        {% endfor %}
        let problems = {};

        $(function () {
            function fetch_best_score(problem_id) {
                $("#best_score").html("--.--%");
                $.ajax({
                    url: `/coding/fetch_best_score?problem_id=${problem_id}`,
                    type: "GET",
                    contentType: "application/json",
                    success: function (data) {
                        $("#best_score").html((data*100).toFixed(2)+"%");
                    },
                    error: function (xhr) {
                        console.log(xhr);
                    }
                });
            }

            function create_starter_code(in_fm, out_fm) {
                const in_sig = Object.keys(in_fm).map(function (x) {
                    return `${x}: '${in_fm[x]}'`;
                });
                const out_sig = out_fm.map(function (x) {
                    return `'${x}'`;
                });
                return `def main(${in_sig.join(',')}) -> ${out_sig.join(`,`)}:\n    # your code here\n    return 0`
            }


            const $problemSelector = $("#problem_selector");
            $("#category_selector").on("click", "a", function () {
                let text = $(this).html();
                let htmlText = text + ' <span class="caret"></span>';
                $(this).closest('.dropdown').find('.dropdown-toggle').html(htmlText);
                const category_id = $(this).data("category_id");
                // set problem selector to not selecting anything and disable validate
                $problemSelector.closest('.dropdown').find('.dropdown-toggle').html("=== select a problem ===");
                $problemSelector.closest('.dropdown').find('.dropdown-toggle').prop("disabled", false);
                $("#validate").prop("disabled", true);
                $.ajax({
                    url: `/coding/fetch_problems?category_id=${category_id}`,
                    type: "GET",
                    contentType: "application/json",
                    success: function (data) {
                        $problemSelector.empty();
                        for (let p of data) {
                            p = JSON.parse(p);
                            problems[p.id] = p;
                            $problemSelector.append(
                                `<li><a class="dropdown-item" href="#" data-problem_id="${p.id}" class="selector_choices">${p.name}</a></li>`);
                        }
                    },
                    error: function (xhr) {
                        alert(xhr);
                    }
                });
            });

            $problemSelector.on("click", "a", function () {
                const problem_id = parseInt($(this).data("problem_id"));
                console.log(problem_id);
                let text = $(this).html() + ' <span class="caret"></span>';
                $(this).closest('.dropdown').find('.dropdown-toggle').html(text);
                $problemSelector.data("problem_id", problem_id);
                $("#validate").prop("disabled", false);
                const this_problem = problems[problem_id];
                const editor = ace.edit("editor");
                const in_fm = JSON.parse(this_problem['input_format']);
                const out_fm = JSON.parse(this_problem['output_format']);
                editor.setValue(create_starter_code(in_fm, out_fm));
                editor.clearSelection();
                $("#description_th").html(this_problem['description_th']);
                $("#description_en").html(this_problem['description_en']);
                fetch_best_score(problem_id);
            });

            function update_feedback(data) {
                let results = data[0]
                let passed_hidden = data[1];
                let failed_hidden = data[2];
                let raised_hidden = data[3];
                let passed = 0;
                let failed = 0;
                let raised = 0;
                let timeout = data[4];

                const $result_table = $("#results tbody");
                $result_table.empty();
                for (const test of results) {
                    let status = test[1];
                    switch (test[1]) {
                        case "passed":
                            passed++;
                            passed_hidden--;
                            break
                        case "failed":
                            failed++;
                            failed_hidden--;
                            break
                        case "raised":
                            status = "error"
                            raised++;
                            raised_hidden--;
                            break
                    }
                    let inputs = JSON.parse(test[0]);
                    inputs = Object.keys(inputs).map(function (k) {
                        return `${k} = ${inputs[k]}`
                    }).join("<br>");
                    $result_table.append(`<tr class='${test[1]}'><td>${inputs}</td><td>${status}</td><td>${test[2]}</td></tr>`);
                }

                $("#passed_messages").html(`You passed ${passed} test(s) and ${passed_hidden} hidden test(s)`);
                if (failed + failed_hidden > 0) {
                    $("#failed_messages").html(`You failed ${failed} test(s) and ${failed_hidden} hidden test(s)`);
                } else {
                    $("#failed_messages").html(``);
                }
                if (raised + raised_hidden + timeout > 0) {
                    $("#raised_messages").html(`You failed ${raised} test(s) and ${raised_hidden} hidden test(s) with errors.\nYou timed out ${timeout} test(s)`);
                } else {
                    $("#raised_messages").html(``);
                }
                $("#passed").html(passed + passed_hidden);
                $("#failed").html(failed + failed_hidden);
                $("#raised").html(raised + raised_hidden + timeout);
            }

            $("#validate").on("click", function () {
                const $result_table = $("#results tbody");
                const problem_id = $problemSelector.data("problem_id");
                $result_table.empty();
                $("#passed_messages").html("");
                $("#failed_messages").html("");
                $("#raised_messages").html("");
                const editor = ace.edit("editor");
                const body = JSON.stringify({
                    "problem_id": problem_id,
                    "code": editor.getValue(0)
                });
                $.ajax({
                    url: "/coding/test_problem",
                    type: "POST",
                    data: body,
                    contentType: "application/json",
                    success: function (data) {
                        update_feedback(data);
                        fetch_best_score(problem_id);
                    },
                    error: function (xhr, exception) {
                        alert(xhr.responseText);
                    }
                });
            });
        });

    </script>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="dropdown">
                    <label for="category_selector" style="width:160px">Select a category: </label>
                    <button class="btn btn-info btn-sm dropdown-toggle selector_choices" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        === select a category ===
                    </button>
                    <ul class="dropdown-menu" id="category_selector">
                        {% for c in categories %}
                            <li><a class="dropdown-item" href="#" data-category_id="{{ c.id }}">{{ c.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="dropdown">
                    <label for="problem_selector" style="width:160px">Select a problem: </label>
                    <button class="btn btn-info btn-sm dropdown-toggle selector_choices" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false" disabled>
                        === select a problem ===
                    </button>
                    <ul class="dropdown-menu" id="problem_selector">
                    </ul>
                </div>
                <span>description: </span><br>
                <span id="description_en">Welcome to Code Runner! Please select a problem category,
                    then select a problem within that category. After that you can write the code to solve that problem.
                    When you feel ready, click "validate" to test your code against the test cases.
                    The result will be shown on the right. There are "public tests" where you'll see the inputs you pass/fail,
                    and "hidden" tests where you only see how many you passed or failed.</span><br>
                <span id="description_th">พลาดแล้วที่หลงมาที่ Code Runner! เริ่มจากเลือกหมวดของปัญหา (category) แล้วเลือกปัญหา (problem)
                หลังจากนั้นก็สามารถ code ได้เลย และเมื่อรู้สึกว่า code น่าจะพัง เอ๊ย ผ่านแล้ว ลองกด validate เพื่อทดสอบ code ได้เลย
                code จะถูกทดสอบกับ test cases ที่ระบบทำไว้แล้วจะแสดงผลในตารางทางขวา โดยที่ test จะมีทั้ง
                    public คือ เห็นได้เลยว่า input ที่ code ทำผ่าน(หรือพัง) คืออะไร และ hidden คือ จะรู้แค่ว่า code ผ่านหรือพัง</span><br>
                <h3><span class="badge bg-info">Best score
        <span id="best_score" class="badge bg-light text-dark">0</span></span></h3>
                <div id="editor">
                </div>
                <script>
                    let editor = ace.edit("editor");
                    editor.setTheme("ace/theme/monokai");
                    editor.session.setMode("ace/mode/python");
                </script>

                <input type="button" class="btn btn-primary" value="validate" id="validate" disabled>
            </div>
            <div class="col">
                <h3><span class="badge bg-success">correct
        <span id="passed" class="badge bg-light text-dark">0</span></span>
                    <span class="badge bg-danger">incorrect
        <span id="failed" class="badge bg-light text-dark">0</span></span>
                    <span class="badge bg-warning">error
        <span id="raised" class="badge bg-light text-dark">0</span></span></h3>
                <div id="feedback">
                    <h3>Feedback</h3>
                    <table id="results" class="table">
                        <thead>
                        <tr>
                            <th scope="col" style="width:30%">input</th>
                            <th scope="col" style="width:15%">result</th>
                            <th scope="col" style="width:55%">note</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                    <span id="passed_messages" class="passed"></span><br>
                    <span id="failed_messages" class="failed"></span><br>
                    <span id="raised_messages" class="raised"></span><br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}