{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Treasure Hunt: หาใบ {{ target_type }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <meta id="game_data"
          data-n_correct="{{ n_correct }}"
          data-n_col = "{{ n_col }}"
          data-n_pics = "{{ n_pics }}"
    >
    <link rel="stylesheet" href="{{ url_for("static", filename="treasure_hunt.css") }}">
    <script type="text/javascript">
        let scores = {correct: 0, incorrect: 0};
        let playing = true;
        let timer;
        let start_time;
        $(function () {
            function get_game_data(key, parser=function(x) {return x}) {
                return parser($("#game_data").data(key));
            }
            // return time elapse [seconds, minutes]
            function calculate_time_elapse() {
                const elapse = Date.now() - start_time;
                return [elapse/1000 % 60, Math.floor(elapse / 60_000)];
            }
            function update_timer_display() {
                const elapse = calculate_time_elapse();
            }
            function time_elapse_text() {
                const elapse = Date.now() - start_time;
                const seconds = elapse/1000 % 60;
                const minutes = Math.floor(elapse / 60_000);
                return (minutes.toString().padStart(2, '0')) +" นาที "+((seconds).toFixed(3)).padStart(6, '0') +" วินาที";
            }

            const n_col = get_game_data("n_col", parseInt);
            const n_row = Math.ceil(get_game_data("n_pics")/n_col);
            const img_width = 100;
            const td_width = img_width+6;
            $("#treasure_map").css("height", n_row*td_width+"px").css("width", n_col*td_width+"px");
            $(".td_img").css("width", td_width+"px").css("height", td_width+"px");
            $(".img").css("width", img_width+"px").css("height", img_width+"px");

            $('#start').on('click', function () {
                alert("เริ่ม!")
                $("#start").prop("disabled", true).removeClass("btn-primary").add("btn-secondary");
                $(".td_img").css("border","transparent");
                $(".img").show();
                start_time = Date.now();

                timer = setInterval(function() {$("#time_lapse").html(time_elapse_text())}, 5);
            });
            $('.img').on('click', function () {
                if (playing && !$(this).data("selected")) {
                    const correctness = $(this).data("correct");
                    if (correctness === 1) {
                        $(this).css("border", "2px solid green");
                        scores.correct += 1
                    } else {
                        $(this).css("border", "2px solid red");
                        scores.incorrect += 1
                    }
                    $(this).data("selected", true);
                    $("#correct").html(scores.correct);
                    $("#incorrect").html(scores.incorrect);
                    if (scores.correct === $("#game_data").data("n_correct")) {
                        clearInterval(timer);
                        update_timer_display();
                        const elapse = calculate_time_elapse();
                        alert(`ในที่สุดก็เลือกครบ!
                        ตอบถูก ${scores.correct} ภาพ
                        ตอบผิด ${scores.incorrect} ภาพ
                        ใช้เวลาไป ${time_elapse_text()}`);
                        playing = false;
                    }
                }
            });
            let sec = 0;

            function pad(val) {
                return val > 9 ? val : "0" + val;
            }

        });

    </script>
    <div id="quiz" style="text-align: center">
        <input type="button" id="start" value="start" class="btn btn-primary"> <br>
        <span for="correct" class="badge bg-success">#correct
        <span id="correct" class="badge bg-light text-dark">0</span></span>
        <span for="incorrect" class="badge bg-danger">#incorrect
        <span id="incorrect" class="badge bg-light text-dark">0</span></span><br>
        <label for="time_lapse">เวลาที่ใช้: </label>
        <span id="time_lapse">00 นาที 00.000 วินาที</span>
        <table id="treasure_map" style="margin:0 auto">
            {% for i in range(0, img|length) %}
                {% if i % n_col == 0 %}
                    <tr>
                {% endif %}
            <td id="{{ img[i].id }}" class="td_img">
                <img src="images/{{ img[i].id }}" class="img" alt="{{ img[i].filename }}"
                     data-correct="{% if ans[i] %}1{% else %}0{% endif %}" data-selected="false"/>
            </td>
            {% if (i + 1) % n_col == 0 or i == img|length %}
                </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>

{% endblock %}