{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Treasure Hunt: หาใบ {{ target_type }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <meta id="game_data"
          data-n_correct="{{ n_correct }}"
          data-n_col="{{ n_col }}"
          data-n_pics="{{ n_pics }}"
    >
    <script type="text/javascript">
        let scores = {correct: 0, incorrect: 0};
        let playing = true;
        let timer;
        let start_time;
        $(function () {
            $({{ all_img_src|safe }}).preload();
            $(".treasure_img").hide();

            $('#start').on('click', function () {
                alert("เริ่ม!")
                $("#start").prop("disabled", true).removeClass("btn-primary").add("btn-secondary");
                $(".game_td_img").css("border", "transparent");
                $(".treasure_img").show();
                start_time = Date.now();

                timer = setInterval(function () {
                    $("#time_lapse").html(time_elapse_text())
                }, 5);
            });
            $('.treasure_img').on('click', function () {
                if (!playing) {
                    return;
                }
                if (!$(this).data("selected")) {
                    const correctness = $(this).data("correct");
                    if (correctness === 1) {
                        $(this).css("border", "2px solid green");
                        $("#overlay_"+$(this).data("img_id")).addClass("correct");
                        scores.correct += 1
                    } else {
                        $(this).css("border", "2px solid red");
                        $("#overlay_"+$(this).data("img_id")).addClass("incorrect");
                        scores.incorrect += 1
                    }
                    $(this).data("selected", true);
                    $("#correct").html(scores.correct);
                    $("#incorrect").html(scores.incorrect);
                    if (scores.correct === $("#game_data").data("n_correct")) {
                        playing = false;
                        clearInterval(timer);
                        $("#time_lapse").html(time_elapse_text());
                        let modal = new bootstrap.Modal('#result_modal');
                        modal.show();
                        $("#modal_body").html(`ในที่สุดก็เลือกครบ!<br>
                        ตอบถูก ${scores.correct} ภาพ<br>
                        ตอบผิด ${scores.incorrect} ภาพ<br>
                        ใช้เวลาไป ${time_elapse_text()}`);
                    }
                }
            });
        });

    </script>
    <div id="result_modal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="modal_body" style="text-align: center">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="quiz" class="main_game">
        <input type="button" id="start" value="start" class="btn btn-primary"> <br>
        <label for="correct" class="badge bg-success">#correct
        <span id="correct" class="badge bg-light text-dark">0</span></label>
        <label for="incorrect" class="badge bg-danger">#incorrect
        <span id="incorrect" class="badge bg-light text-dark">0</span></label><br>
        <label for="time_lapse">เวลาที่ใช้: </label>
        <span id="time_lapse">00 นาที 00.000 วินาที</span>
        <div id="game_treasure_map" class="main_game">
            {% for i in range(0, img|length) %}
                {% if i % n_cols == 0 %}
                    <div class="treasure_row">
                {% endif %}
            <row id="{{ img[i].id }}" class="treasure_column">
                <img src="/images/{{ img[i].id }}" class="treasure_img" alt="{{ img[i].filename }}"
                     data-correct="{% if treasure_cat_id in img[i].tag_id %}1{% else %}0{% endif %}"
                     data-selected="false" data-img_id="{{ img[i].id }}"/>
                <div class="overlay" id="overlay_{{ img[i].id }}"></div>
            </row>
            {% if (i + 1) % n_cols == 0 or i == img|length %}
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}